body{
    background-image: url('../images/fondo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 700;
    font-family: 'Minecraft', sans-serif;
    font-size: 24px;
    color: #b1b0b0;
    margin: 0;
}
header{
    background-color: rgba(46, 45, 45, 0.9);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px 18px;
    padding: 10px 18px;
    border-bottom: 1px solid #dfdfdf;

}



.logo{
    display: flex;
    align-items: center;
    height: 60px;
    width: 140px;
}
    
/* Estilos de productos */
.contenedor-productos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: #222222;
    border: 2px solid green;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.producto button {
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.detalle-producto {
    background-color: #222222;
    border: 2px solid green;
    padding: 200px;
    text-align: justify;
    width: 300px;
    margin: auto;
}

.detalle-producto button {
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    
}
